In [1]:
def square( num ):
    return num ** 2

In [2]:
my_nums = [1, 2, 3, 4, 5]

In [4]:
map( square, my_nums )

In [5]:
for itm in map( square, my_nums ):
    print( itm )

1
4
9
16
25

In [6]:
list( map(square, my_nums) )

[1, 4, 9, 16, 25]

In [7]:
def splicer( string ):
    if len(string) % 2 == 0:
        return 'even'
    else:
        return string[0]

In [8]:
names = [ 'Andy', 'eve', 'Sally' ]

In [11]:
list( map( splicer, names ) )

['even', 'e', 'S']

In [13]:
def check_even( num ):
    return num % 2 == 0

In [14]:
mynums = [ 2, 345, 54, 23, 76, 45, 9 ]

In [15]:
list ( filter(check_even, mynums) )

[2, 54, 76]

In [17]:
def square( num ): return num ** 2

In [20]:
square = lambda num: num ** 2

In [21]:
square(25)

625

In [26]:
list( filter( lambda num: num % 2==0, mynums ) )

[2, 54, 76]

In [29]:
def print( string ):
    print( ' Custom Print: {}'.format( string ) )

In [30]:
print( 'Hello' )

RecursionError: maximum recursion depth exceeded while calling a Python object

In [5]:
name = 'It is a global string'

def greet():
    
    name = 'Sachin'
    
    def hello():
        name = 'Great one'
        print( 'Hello {}'.format(name) )
        
    hello()
    
greet()

Hello Great one

In [6]:
hello()

NameError: name 'hello' is not defined

In [11]:
def vol( rad ):
    return (4/3) * 3.14 * (rad ** 3)

In [12]:
vol(15)

14130.0

In [15]:
vol(2)

33.49333333333333

In [16]:
def ran_check(num, low, high):
    return num >= low and num <= high

In [20]:
ran_check( 3, 2, 3 )

True

In [30]:
def up_low(s):
    upper_lst = list( filter( lambda st: st.isupper(), s ) )
    lower_lst = list( filter( lambda st: st.islower(), s ) )
    
    print( 'Sample string: {s}' )
    print( 'No. of Upper case characters: {}'.format( len(upper_lst) ) )
    print( 'No. of Lower case characters: {}'.format( len(lower_lst) ) )

In [32]:
up_low( 'Hello, how are you today?' )

Sample string: {s}
No. of Upper case characters: 1
No. of Lower case characters: 18

In [29]:
lst = [5, 3, 4]
len(lst)

3

In [33]:
def unique_list( lst ):
    st = set(lst)
    return list(st)

In [35]:
lst = [1,1,1,1,3,3,3,3,45,5,5,5,5,6,65,7,7]

In [36]:
unique_list(lst)

[1, 65, 3, 5, 6, 7, 45]

In [47]:
def multiply( lst ):
   # return map( lambda num: rtn * num, lst) 
    
    rtn = 1
    for num in lst:
        rtn *= num
        
    return rtn

In [51]:
lst = [1, 2, 3, 4, 5, -6 ]

In [52]:
lt = multiply( lst )

In [53]:
lt

-720

In [67]:
def palindrome(s):
    # s = 'nurses run'
    s = s.replace(' ', '')
    return s[0::].lower() == s[::-1].lower()

In [69]:
palindrome('nurses run')

True

In [100]:
import string

def ispangram(string, alphabet=string.ascii_lowercase):
    
    string = string.replace(' ', '')
    
    strlst = list(string)
    
    # strlst.replace(' ', '')
    print(strlst)
    
    strlst.sort()
    strset = set(strlst)
    
    print(strset)
    
    return_string = ''
    
    for letter in strset:
        return_string += letter
        
    print( return_string.lower() )
        
    return return_string.lower() == alphabet

In [87]:
ispangram('tst')

False

In [99]:
ispangram('The quick brown fox jumps over the lazy dog')

AttributeError: 'list' object has no attribute 'replace'