In [4]:
def create_cubes(n):
    result = []
    
    for x in range(n):
        result.append(x**2)
        
    return result

In [7]:
create_cubes(51)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500]

In [5]:
def create_cubes_yeild(n):
        
    for x in range(n):
        yield x**3

In [7]:
list(create_cubes_yeild(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [8]:
def gen_fibonacci(n):
    
    a = 1
    b = 1
    
    for i in range(n):
        yield a
        a, b = b, a+b

In [9]:
for fib_number in gen_fibonacci(15):
    print(fib_number)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

In [14]:
def gen_squares(n):
    
    for number in range(n):
        yield number**2

In [15]:
for squares in gen_squares(25):
    print(squares)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576

In [17]:
import random



def ran_num(low, high, n):
    
    for i in range(n):
        yield random.randint(low, high)
        

for num in ran_num(1, 10, 15):
    print(num)

8
3
4
10
8
4
8
10
1
1
4
8
5
3
3

In [25]:
s = 'hello'

s_iter = iter(s)

print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
#print(next(s_iter))

h
e
l
l
o