In [1]:
def square( num ):
    return num ** 2

In [2]:
my_nums = [1, 2, 3, 4, 5]

In [4]:
map( square, my_nums )

In [5]:
for itm in map( square, my_nums ):
    print( itm )

1
4
9
16
25

In [6]:
list( map(square, my_nums) )

[1, 4, 9, 16, 25]

In [7]:
def splicer( string ):
    if len(string) % 2 == 0:
        return 'even'
    else:
        return string[0]

In [8]:
names = [ 'Andy', 'eve', 'Sally' ]

In [11]:
list( map( splicer, names ) )

['even', 'e', 'S']

In [13]:
def check_even( num ):
    return num % 2 == 0

In [14]:
mynums = [ 2, 345, 54, 23, 76, 45, 9 ]

In [15]:
list ( filter(check_even, mynums) )

[2, 54, 76]

In [17]:
def square( num ): return num ** 2

In [20]:
square = lambda num: num ** 2

In [21]:
square(25)

625

In [26]:
list( filter( lambda num: num % 2==0, mynums ) )

[2, 54, 76]

In [29]:
def print( string ):
    print( ' Custom Print: {}'.format( string ) )

In [30]:
print( 'Hello' )

RecursionError: maximum recursion depth exceeded while calling a Python object

In [5]:
name = 'It is a global string'

def greet():
    
    name = 'Sachin'
    
    def hello():
        name = 'Great one'
        print( 'Hello {}'.format(name) )
        
    hello()
    
greet()

Hello Great one

In [6]:
hello()

NameError: name 'hello' is not defined

In [119]:
from math import pi

def vol( rad ):
    return (4/3) * pi * (rad ** 3)

In [120]:
vol(15)

14137.166941154068

In [121]:
vol(2)

33.510321638291124

In [125]:
def ran_check(num, low, high):
    #return num >= low and num < high
    return num in range(low, high+1)

In [126]:
ran_check( 3, 2, 5 )

True

In [30]:
def up_low(s):
    upper_lst = list( filter( lambda st: st.isupper(), s ) )
    lower_lst = list( filter( lambda st: st.islower(), s ) )
    
    print( 'Sample string: {s}' )
    print( 'No. of Upper case characters: {}'.format( len(upper_lst) ) )
    print( 'No. of Lower case characters: {}'.format( len(lower_lst) ) )

In [32]:
up_low( 'Hello, how are you today?' )

Sample string: {s}
No. of Upper case characters: 1
No. of Lower case characters: 18

In [29]:
lst = [5, 3, 4]
len(lst)

3

In [33]:
def unique_list( lst ):
    st = set(lst)
    return list(st)

In [35]:
lst = [1,1,1,1,3,3,3,3,45,5,5,5,5,6,65,7,7]

In [36]:
unique_list(lst)

[1, 65, 3, 5, 6, 7, 45]

In [47]:
def multiply( lst ):
   # return map( lambda num: rtn * num, lst) 
    
    rtn = 1
    for num in lst:
        rtn *= num
        
    return rtn

In [51]:
lst = [1, 2, 3, 4, 5, -6 ]

In [52]:
lt = multiply( lst )

In [53]:
lt

-720

In [67]:
def palindrome(s):
    # s = 'nurses run'
    s = s.replace(' ', '')
    return s[0::].lower() == s[::-1].lower()

In [69]:
palindrome('nurses run')

True

In [111]:
import string

def ispangram(string, alphabet=string.ascii_lowercase):
    
    string = string.replace(' ', '')
    string = string.lower()
    
    strlst = list(string)
    
    strset = set(strlst)
    
    strlst = list(strset)
    
    strlst.sort()
    
    return_string = ''
    
    for letter in strlst:
        return_string += letter
        
    return return_string == alphabet

In [112]:
ispangram('tst')

False

In [113]:
ispangram('The quick brown fox jumps over the lazy dog')

True

In [115]:
ispangram('The quick brown fox jumps over the lazy dog')

True

In [4]:
def display(*row):
    print(row[0])
    print(row[1])
    print(row[2])

In [6]:
display([1,2,3], [4,5,6], [7,8,9])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [13]:
row1 = [' ', ' ', ' ']
row2 = [' ', ' ', ' ']
row3 = [' ', ' ', ' ']

In [14]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', ' ', ' ']
[' ', ' ', ' ']

In [15]:
row2[1] = 'O'

In [16]:
display(row1, row2, row3)

[' ', ' ', ' ']
[' ', 'O', ' ']
[' ', ' ', ' ']

In [18]:
result = input("Please enter a value: ")

Please enter a value: O

In [1]:
def user_choice():
    
    choice = 'alphabet'
    range_start = 1
    range_end = 9
    acceptable_range = range(range_start, range_end+1)
    within_range = False
    
    while choice.isdigit() == False or within_range == False:
        
        choice = input("Please input a number from {} to {}: ".format(range_start, range_end))
        
        if choice.isdigit() == False:
            print("Your input is NOT a number!")
                
        if choice.isdigit() == True:
            if int(choice) in acceptable_range:
                within_range = True
            else:
                within_range = False
                print(f"Your input is out of range ({range_start}-{range_end})")
    
    return int(choice)

In [4]:
user_choice()

Please input a number from 1 to 9: 10
Your input is out of range (1-9)
Please input a number from 1 to 9: 10
Your input is out of range (1-9)
Please input a number from 1 to 9: 5

5

In [5]:
def display_game(game_list):
    
    print( 'Here is the current list! ' )
    print(game_list)

In [6]:
def position_choice():
    
    choice = 'a'
    acceptable_list = ['0', '1', '2']
    
    while choice not in acceptable_list:
        
        choice = input( 'Please enter a value from {}'.format(acceptable_list) )
        
        if choice not in acceptable_list:
            print( 'Sorry, the input is not from the range {}'.format(acceptable_list) )
            
    return int(choice)

In [7]:
def replacement_choice(game_list, position):
    
    user_replacement = input('Type a string to put place at position.')
    
    game_list[position] = user_replacement
    
    return game_list

In [10]:
def gameon_choice():
    
    choice = 'wrong'
    
    while choice not in ['Y', 'N']:
        
        choice = input( 'Keep playing? Y or N' )
        
        if choice not in ['Y', 'N']:
            print('Sorry, I don\'t understand, please input either Y or N')
            
    return choice == 'Y'

In [11]:
gameon_choice()

Keep playing? Y or N5
Sorry, I don't understand, please input either Y or N
Keep playing? Y or Nw
Sorry, I don't understand, please input either Y or N
Keep playing? Y or Nn
Sorry, I don't understand, please input either Y or N
Keep playing? Y or NY

True

In [12]:
game_list = ['0', '1', '2']
position = 1

replacement_choice(game_list, position)

Type a string to put place at position.Middle

['0', 'Middle', '2']

In [13]:
posistion_choice()

Please enter a value from ['0', '1', '2']2

2

In [14]:
posistion_choice()

Please enter a value from ['0', '1', '2']a
Sorry, the input is not from the range ['0', '1', '2']
Please enter a value from ['0', '1', '2']6
Sorry, the input is not from the range ['0', '1', '2']
Please enter a value from ['0', '1', '2']t
Sorry, the input is not from the range ['0', '1', '2']
Please enter a value from ['0', '1', '2']3
Sorry, the input is not from the range ['0', '1', '2']
Please enter a value from ['0', '1', '2']2

2

In [16]:
game_on = True
game_list = [0, 1, 2]

while game_on:
    
    display_game(game_list)
    
    position = posistion_choice()
    
    game_list = replacement_choice(game_list, position)
    
    display_game(game_list)
    
    game_on = gameon_choice()

Here is the current list!
[0, 1, 2]
Please enter a value from ['0', '1', '2']2
Type a string to put place at position.End
Here is the current list!
[0, 1, 'End']
Keep playing? Y or NY
Here is the current list!
[0, 1, 'End']
Please enter a value from ['0', '1', '2']1
Type a string to put place at position.Middle
Here is the current list!
[0, 'Middle', 'End']
Keep playing? Y or NY
Here is the current list!
[0, 'Middle', 'End']
Please enter a value from ['0', '1', '2']2
Type a string to put place at position.Ending
Here is the current list!
[0, 'Middle', 'Ending']
Keep playing? Y or NN