In [1]:
1+2

3

In [2]:
print("Hello Python")

Hello Python

In [1]:
2=1

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3312293683.py, line 1)

In [2]:
t=2

In [3]:
'bye' == "bye"

True

In [4]:
3.0 == 3

True

In [6]:
4.000 == 4

True

In [7]:
5 == '5'

False

In [8]:
5 == 5 and 3 > 2

True

In [9]:
5 == 5 and 2 > 3

False

In [10]:
5 == 5 or 2 > 3

True

In [11]:
1 < 2 < 1

False

In [12]:
not(5==4)

True

In [13]:
5!=4

True

In [17]:
5==5 and not 2 > 3

True

In [5]:
if True:
    print( "Tru" )

Tru

In [8]:
Hungry = False
if Hungry:
    print('Feeding')
else:
    print('Do nothing')

Do nothing

In [13]:
location = 'Clinic2'

if location == 'Garage':
    print('Cars!')
elif location == 'Clinic':
    print('Doctors!')
else:
    print('Staying Home!')

Staying Home!

In [2]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
for itm in mylist:
    print(f'hello {itm}')

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [6]:
for itm in mylist:
    if itm % 2 == 0:
        print(f'even: {itm}')
    else:
        print(f'odd:  {itm}')

odd:  1
even: 2
odd:  3
even: 4
odd:  5
even: 6
odd:  7
even: 8
odd:  9
even: 10

In [7]:
lst_sum = 0
for lst in mylist:
    lst_sum += lst
    
    print(lst_sum)

1
3
6
10
15
21
28
36
45
55

In [30]:
tst_str = 'Hello Ladies'
for _ in tst_str:
    print('ltr')

ltr
ltr
ltr
ltr
ltr
ltr
ltr
ltr
ltr
ltr
ltr
ltr

In [9]:
tup = (1, 2, 3)

for itm in tup:
    print(itm)

1
2
3

In [8]:
lst_tup = [(1, 2), (3,4), (5,6)]
for (a, b) in lst_tup:
    print(a)
    print(b)

1
2
3
4
5
6

In [11]:
lst_tup = [(1, 2, 3), (4, 5, 6), (6, 7, 8)]
for a, b, c in lst_tup:
    print (b)

2
5
7

In [16]:
dic = {'k1': 1, 'k2': 2, 'k3': 3}
for itm in dic:
    print(itm)

k1
k2
k3

In [15]:
for vle in dic.values():
    print(vle)

1
2
3

In [6]:
x = 3
while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print('Now, x is not less than 5')

The current value of x is 3
The current value of x is 4
Now, x is not less than 5

In [10]:
lst = [1, 2, 3]
for itm in lst:
    print(itm)
    continue

1
2
3

In [12]:
mystring = 'Sammy'
for letter in mystring:
    if letter == 'm':
        continue
    print(letter)

S
a
y

In [13]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x +=1

0
1

In [18]:
for itm in range(1, 11, 2):
    print(itm)

1
3
5
7
9

In [19]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'. format(index_count, letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [20]:
for letter in enumerate('abcde'):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [21]:
for ind, letter in enumerate('abcde'):
   print('At index {} the letter is {}'. format(ind, letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [1]:
mylist1 = list(range(5))
mylist2 = ['a', 'b', 'c', 'd', 'e']

for itm in zip(mylist1, mylist2):
    print(itm)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [24]:
list(zip(mylist1, mylist2))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [25]:
5 in list(range(5))

False

In [26]:
5 in list(range(1, 6))

True

In [27]:
'e' in 'Hello'

True

In [28]:
'K1' in {'K1': 1}

True

In [ ]:
dic = {'k1': 1}
1 in dic.values()

In [30]:
1 in dic

False

In [31]:
min(mylist1)

0

In [32]:
max(mylist2)

'e'

In [2]:
max(mylist1)

4

In [14]:
from random import shuffle, randint

mylist = list(range(1, 15, 1))
random_list = shuffle(mylist)

randint(0, 25)

10

In [10]:
random_list

In [ ]:
mylist

In [16]:
result = input('Select any number')

Select any number15

In [17]:
result

'15'

In [18]:
mystring = 'Hellow'
mylist = [le for le in mystring]
mylist

['H', 'e', 'l', 'l', 'o', 'w']

In [19]:
newlist = [mystring]
newlist

['Hellow']

In [20]:
newlist = [ f'x={le}' for le in mystring ]
newlist

['x=H', 'x=e', 'x=l', 'x=l', 'x=o', 'x=w']

In [21]:
celcius = [0, 7, 12, 17, 21, 23, 27]
fahrenheit = [ ( (9/5) * temp + 32 ) for temp in celcius ]
fahrenheit

[32.0, 44.6, 53.6, 62.6, 69.80000000000001, 73.4, 80.6]

In [23]:
celcius = [0, 7, 12, 17, 21, 23, 27]
fahrenheit = []
for temp in celcius:
    fahrenheit.append( ( (9/5) * temp + 32 ) ) 
fahrenheit

[32.0, 44.6, 53.6, 62.6, 69.80000000000001, 73.4, 80.6]

In [24]:
comple = [x*y for x in [1, 2, 3] for y in [30, 50, 100]]
comple

[30, 50, 100, 60, 100, 200, 90, 150, 300]